<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    namespace:名称空间
-->

<mapper namespace="com.zxxia.mapper.BrandMapper">

    <select id="selectAll" resultType="Brand">
        select *
        from tb_brand;
    </select>


    <select id="selectById" resultType="Brand">
        select *
        from tb_brand
        where id = #{id};

    </select>


    <!--    条件查询：这3个条件必须全部填写，才能查出结果-->
    <select id="selectByCondition" resultType="com.zxxia.pojo.Brand">
        select *
        from tb_brand
        where status = #{status}
          and company_name like #{companyName}
          and brand_name like #{brandName}
    </select>

    <!--
        动态条件查询
            * if 条件判断
                * test: 逻辑表达式
            * 问题：如果第一个参数没填写，会出现sql语法错误
                * 关键字：where
    -->
    <!--    <select id="selectByCondition" resultMap="brandResultMap">-->
    <!--        select *-->
    <!--        from tb_brand-->
    <!--        /* where 1 = 1*/-->
    <!--        <where>-->

    <!--            <if test="status != null">-->
    <!--                and status = #{status}-->
    <!--            </if>-->
    <!--            <if test="companyName != null and companyName != '' ">-->
    <!--                and company_name like #{companyName}-->
    <!--            </if>-->
    <!--            <if test="brandName != null and brandName != '' ">-->
    <!--                and brand_name like #{brandName}-->
    <!--            </if>-->
    <!--        </where>-->

    <!--    </select>-->

</mapper>